aiofiles==0.5.0
aiosmtplib==1.1.5
asynctest==0.13.0
alembic==1.5.8
email-validator==1.1.2
fastapi==0.53.2
fastapi-permissions==0.2.6
itsdangerous==2.0.1
Jinja2==2.11.3
mjml==0.6.1
python-multipart==0.0.5
uvicorn==0.11.3
psycopg2==2.8.6
pytest==5.4.1
pytest-aiohttp==0.3.0
pytest-asyncio==0.10.0
python-dateutil==2.8.1
PyYAML==5.3.1
raven==6.10.0
requests==2.25.1
SQLAlchemy==1.4.11
typer==0.3.2
Werkzeug==1.0.1
httpx==0.18.2
asyncpg==0.23.0
